GitPython==3.1.17
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
ipwdigets==7.6.3
python-dateutil==2.8.1
numpy==1.19.5
pandas==1.2.4
regex==2021.4.4
scipy==1.6.0
streamlit==0.82.0
joblib==1.2.0
scikit-learn==1.5.2
threadpoolctl==3.1.0
